{% extends 'base.html' %}

{% load staticfiles %}
{% block style %}
  <link rel="styleSheet" type="text/css" href="{% static 'options/style.css' %}" />
{% endblock %}

{% block start %}
  <a class="fill-div" href="/worldmap"></a>
{% endblock %}

{% block A %}
  <a class="fill-div" href="/options/save_game"></a>
{% endblock %}

{% block B %}
  <a class="fill-div" href="/"></a>
{% endblock %}

{% block content %}
  <div>
    Options
    <ol>
      <li>A - Save</li>
      <li>B - Quit</li>
    </ol>
  </div>
{% endblock %}
