{% extends 'base.html' %}

{% load staticfiles %}
{% block style %}
  <link rel="styleSheet" type="text/css" href="{% static 'options/style.css' %}" />
{% endblock %}

{% block A %}
  <a class="fill-div" href="/options/save_game?slot={{slot_current}}&save={{slot_current}}"></a>
{% endblock %}

{% block B %}
  <a class="fill-div" href="/options"></a>
{% endblock %}

{% block up %}
  <a class="fill-div" href="/options/save_game?slot={{slot_up}}"></a>
{% endblock %}

{% block down %}
  <a class="fill-div" href="/options/save_game?slot={{slot_down}}"></a>
{% endblock %}



{% block content %}
  <div>
    <h2>Sauvegarder une partie</h2>
    <ul>
      {% for slot, score in saved.items %}
        <li>
          {% if slot_current == slot %}->{% endif %} Slot {{slot|upper}} : {{score}}
        </li>
      {% endfor %}
    </ul>
    <ol>
      <li>A - Save</li>
      <li>B - Cancel</li>
    </ol>
  </div>
{% endblock %}
