{% extends 'base.html' %}

{% load staticfiles %}
{% block style %}
  <link rel="styleSheet" type="text/css" href="{% static 'battle/style.css' %}" />
{% endblock %}

{% block A %}
{% if catched == "True"%}
  <a class="fill-div" href="/worldmap" title="Back to woldmap"></a>
{% endif %}
  <a class="fill-div" href="/battle/{{Movie.id}}?attack=True" title="Attack"></a>
{% endblock %}

{% block B %}
{% if catched == "True"%}
  <a class="fill-div" href="/worldmap" title="Back to woldmap"></a>
{% endif %}
  <a class="fill-div" href="/worldmap?flee=True" title="Back to woldmap"></a>
{% endblock %}


{% block content %}
<div class="movie-section">

  <div class="info-movie">
    <ul>
      <li>Name : {{Movie.name}}</li>
      <li>Strenght : {{Movie.box_office}}</li>
    </ul>
  </div>
  <div class=mvi>
    <img src = {{Movie.poster}} height="100%" width="auto">
  </div>
</div>

<div class="info-section">
{{info}}
<div class=info-commands>
   <ul>
      <li>A: Throw a movieball</li>
      <li>B: Back to worldmap</li>
    </ul>
</div>
</div>
<div class="player-section">
  <div class="info-player">
    <ul>
      <li>MovieBalls : {{balls}}</li>
      <li>Strenght : {{strenght}}</li>
      <li>Succes rate : {{rate}}</li>
    </ul>
  </div>
  <div class= "pli">
    <img src = "https://www.pixenli.com/images/1256/1256845328084831400.png" height="100%" width="auto">
  </div>
</div>

{% endblock %}

