.movie-section{
  	width: 100%;
  	height:40%;
}

.player-section{
	width: 100%;
	height:40%;
}

.info-section{
	width: 100%;
	height:20%;
}

.mvi{
	position:relative;
	width: 30%;
	height:100%;
	left:600px
}

.pli{
	position:relative;
	width: 30%;
	height:100%;
	left: 100px;
}

.info{
	position: absolute;
	width: 30%;
	height:100%;
}