{% extends 'base.html' %}

{% load staticfiles %}
{% block style %}
  <link rel="styleSheet" type="text/css" href="{% static 'worldMap/style.css' %}" />
{% endblock %}

{% block A %}
  {% if moviemon_id %}
    <a class="fill-div" href="{% url 'battle' moviemon_id %}"></a>
  {% endif %}
{% endblock %}

{% block up %}
  <a class="fill-div" href="/worldmap?move=up" title="up"></a>
{% endblock %}

{% block down %}
  <a class="fill-div" href="/worldmap?move=down" title="down"></a>
{% endblock %}

{% block right %}
  <a class="fill-div" href="/worldmap?move=right" title="right"></a>
{% endblock %}

{% block left %}
  <a class="fill-div" href="/worldmap?move=left" title="left"></a>
{% endblock %}

{% block start %}
  <a class="fill-div" href="/options"></a>
{% endblock %}

{% block select %}
  <a class="fill-div" href="/moviedex"></a>
{% endblock %}

{% block content %}
  <div id='worldMap'>
    {% for i in grid.x %}
      <div class="line">
        {% for j in grid.y %}
          {% if i == player_position.x and j == player_position.y %}
            <div id="player_position" class="case"></div>
          {% else %}
            <div class="case"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
    <div class="info">
      <div>
        Movieballs : {{movieballs}}
      </div>
      {% if movieball %}
        <div class="new_movieball">
          Vous avez trouvé une movieball !
        </div>
      {% endif %}
      {% if find_moviemon %}
        <div class="new_moviemon">
          Vous avez debusqué un moviemon !
          Appuyer sur A pour essayer de le capturer
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
