{% extends 'base.html' %}

{% load staticfiles %}
{% block style %}
  <link rel="styleSheet" type="text/css" href="{% static 'titleScreen/style.css' %}" />
{% endblock %}


{% block A %}
  <a class="button" href="/worldmap"></a>
{% endblock %}

{% block B %}
  <a class="button" href="/options/load_game"></a>
{% endblock %}

{% block content %}
  <div>
    Bienvenue dans Moviemon
    <ol>
      <li><a href="/worldmap">New Game</a></li>
      <li><a href="/options/load_game">Load</li>
    </ol>
  </div>
{% endblock %}
